@font-face {
    font-family: 'priestacy';
    src: url(fonts/Priestacy-mLJoG.ttf);
}

body{
    text-align: center;
}

.testimonial-image{
    width: 50%;
    margin: 5% 25%;
}
.divt{
    width: 100%;
    border: 2px solid
}
h3{
    margin: 2px;
    font-family: 'priestacy','Courier New', Courier, monospace;
}
hr{
    margin: 0;
}